@using Blog.Web.Core
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@ViewBag.Title | kijana woodard</title>
        <link rel="author" href="/humans.txt">
        <link rel="icon" type="image/x-icon" href="/favicon.png" />
        <link href="@Url.Action("Index", "PostGet", new { ext = "atom"})" type="application/atom+xml" rel="alternate" title="ATOM Feed">

        @System.Web.Optimization.Styles.Render("~/bundles/css")

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->        
        
        @RenderSection("canonical", false)        
    </head>
    <body>
    <div id="wrap">
        <header class="row">
            <hgroup class="third">
                <h1><a href="/" rel="home">Kijana Woodard</a>
                </h1>
                <h4 class="subheader">Software Minimalism</h4>
            </hgroup>
            <div class="third actions">
                <a href="@Url.Action("Index", "PostGet")">
                    <span class="surround-icon"><span class="fa fa-inbox"></span > Archive</span>
                </a>

                <a href="@Url.Action("Index", "AboutGet")">
                    <span class="surround-icon"><span class="fa fa-user"></span > About</span>
                </a>
            </div>
            <form action="http://www.google.com/search" method="GET" class="third search">
                <input type="hidden" name="q" value="site://kijanawoodard.com"/>

                <span class="surround-icon"><span class="fa fa-search"></span ></span>
                <input type="text" name="q" placeholder="Search"/>
            </form>
        </header>
        <hr/>
        <div>
            <article>
                @RenderBody()
            </article>
            <aside>
                <section id="contact">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "AboutGet")">
                                <span class="fa fa-3x fa-envelope"></span >
                                <span>About</span>
                                <small>@Url.Action("Index", "AboutGet")</small>
                            </a>
                        </li>
                        <li>
                            <a href="http://linkedin.com/in/kijanawoodard" target="_blank">
                                <span class="fa fa-3x fa-linkedin"></span >
                                <span>LinkedIn</span>
                                <small>linkedin.com/in/kijanawoodard</small>
                            </a>
                        </li>
                        <li>
                            <a href="http://github.com/kijanawoodard" target="_blank">
                                <span class="fa fa-3x fa-github"></span >
                                <span>GitHub</span>
                                <small>github.com/kijanawoodard</small>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/100680108589078267321/" target="_blank">
                                <span class="fa fa-3x fa-google-plus-official"></span >
                                <span>Google+</span>
                                <small>plus.google.com/kijanawoodard</small>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/kijanawoodard" target="_blank">
                                <span class="fa fa-3x fa-twitter"></span >
                                <span>Twitter</span>
                                <small>twitter.com/kijanawoodard</small>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/kijanawoodard" target="_blank">
                                <span class="fa fa-3x fa-facebook"></span >
                                <span>Facebook</span>
                                <small>facebook.com/kijanawoodard</small>
                            </a>
                        </li>
                        <li>
                            <a href="http://feeds.feedburner.com/kijanawoodard" target="_blank">
                                <span class="fa fa-3x fa-rss"></span >
                                <span>Atom Feed</span>
                                <small>feeds.feedburner.com/kijanawoodard</small>
                            </a>
                        </li>
                    </ul>
                </section>
            </aside>
        </div>
        <footer>
            @{ var info = AssemblyExtensions.GetAssemblyInfo(); }
            <p>
                <span class="fa fa-copyright copyright"></span> 
                <span class="copyright">Kijana Woodard 2010 - @DateTime.UtcNow.Year</span> 
                Version @info.Version - @info.LastModified.ToLongDateString() @info.LastModified.ToShortTimeString()
            </p>
        </footer>
    </div>

    @if (Request.UserAgent != null && !Request.UserAgent.Contains("Speed Insights"))
    {
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-2525559-16', 'auto');
            ga('send', 'pageview');

        </script>
    }
    </body>
</html>
