@using Blog.Web.Core
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@ViewBag.Title | kijana woodard</title>
        <link rel="author" href="/humans.txt">
        <link rel="icon" type="image/x-icon" href="/favicon.png" />
        <link href="@Url.Action("Index", "PostGet", new { ext = "atom"})" type="application/atom+xml" rel="alternate" title="ATOM Feed">

        <link rel="stylesheet" type="text/css" href="/content/css/kube.min.css" /> 	
        <link rel="stylesheet" type="text/css" href="/content/css/kube.responsive.min.css" /> 	
        <link rel="stylesheet" type="text/css" href="/content/css/font-awesome.css" /> 	
        <link rel="stylesheet" type="text/css" href="/content/css/site.css" /> 	
        
        <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->		
        
        @RenderSection("canonical", false)        
    </head>
    <body>
        <div id="wrap">
            <header class="row">
                <hgroup class="half">
                    <h1><a href="/" rel="home">Kijana Woodard</a></h1>
                    <h4 class="subheader">Software Minimalism</h4>
                </hgroup>
                <form action="http://www.google.com/search" method="GET" class="half search">
                    <input type="hidden" name="q" value="site://kijanawoodard.com" />
                    
                    <span class="surround-icon"><i class="icon-search"></i></span>
                    <input type="text" name="q" placeholder="Search"/>

                    <a href="@Url.Action("Index", "PostGet")">
                        <span class="surround-icon"><i class="icon-inbox"></i> Archive</span>
                    </a>

                    <a href="@Url.Action("Index", "AboutGet")">
                        <span class="surround-icon"><i class="icon-user"></i> About</span>
                    </a>
                </form>
            </header>
            <hr/>
            <div class="row">
                <article>
                    @RenderBody()
                </article>
                <aside>
                    <section id="contact">
                        <ul>
                            <li>
                                <a href="~/contact" target="_blank">
                                    <i class="icon-envelope"></i>
                                    <span>Contact</span>
                                    <small>@Url.Action("Execute", "PostGet", new {slug="contact"})</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://linkedin.com/in/kijanawoodard" target="_blank">
                                    <i class="icon-linkedin"></i>
                                    <span>LinkedIn</span>
                                    <small>linkedin.com/in/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://github.com/kijanawoodard" target="_blank">
                                    <i class="icon-github"></i>
                                    <span>GitHub</span>
                                    <small>github.com/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/100680108589078267321/" target="_blank">
                                    <i class="icon-google-plus"></i>
                                    <span>Google+</span>
                                    <small>plus.google.com/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/kijanawoodard" target="_blank">
                                    <i class="icon-twitter"></i>
                                    <span>Twitter</span>
                                    <small>twitter.com/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/kijanawoodard" target="_blank">
                                    <i class="icon-facebook"></i>
                                    <span>Facebook</span>
                                    <small>facebook.com/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://feeds.feedburner.com/kijanawoodard" target="_blank">
                                    <i class="icon-rss"></i>
                                    <span>Atom Feed</span>
                                    <small>feeds.feedburner.com/kijanawoodard</small>
                                </a>
                            </li>
                        </ul>
                    </section>
                </aside>    
            </div>
            <footer>
                <p>&copy; Kijana Woodard 2010 - @DateTime.UtcNow.Year</p>
                @{ var info = AssemblyExtensions.GetAssemblyInfo(); }
                <p>v @info.Version - @info.LastModified.ToLongDateString() @info.LastModified.ToShortTimeString()</p>
            </footer>
        </div>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2525559-16']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
