@model Blog.Web.Actions.PostGet.PostIndexViewModel

@{
    ViewBag.Title = "Techinical Blog of Kijana Woodard";
}

<section id="home">
    <ul>
        @foreach (var post in Model.Active)
        {
            <li>
                <header>
                    <a href="@Url.Action("Execute", "PostGet", new {slug = post.Slug})" title="@post.Title">
                        <h3>@post.Title </h3>
                    </a>
                </header>
                <div class="text">
                    @Html.Raw(post.Summary)
                </div>
                <a href="@Url.Action("Execute", "PostGet", new {slug = post.Slug})" title="@post.Title">
                    <span>continue reading</span> <span class="fa fa-arrow-right"></span>
                </a>
            </li>
        }
    </ul>
</section>