@using System.Globalization
@using BlazorStatic
@using BlazorStatic.Services
@inject BlazorStaticContentService<PostFrontMatter> blazorStaticContentService
@inject BlazorStaticService blazorStaticService

<ul id="home" class="posts">
    @foreach(var post in posts.OrderByDescending(x => x.FrontMatter.Published))
    {
        <li>
            <article>
                <h2>
                    <a href="@blazorStaticContentService.Options.PageUrl/@(post.Url)">@post.FrontMatter.Title</a>
                </h2>
                <h4 class="subheader">
                    <time>@post.FrontMatter.Published.ToLongDateString()</time>
                </h4>
                <div>
                    @((MarkupString)post.FrontMatter.Lead)
                </div>
                <a aria-label='Read "@(post.FrontMatter.Lead)"' href="@blazorStaticContentService.Options.PageUrl/@(post.Url)">Read more →</a>
            </article>
        </li>
    }
</ul>


@code {
    List<Post<PostFrontMatter>> posts = new();


    [Parameter] public List<Post<PostFrontMatter>>? Posts { get; set; }
    protected override void OnInitialized()
    {
        posts = Posts != null ? Posts.OrderBy(x => x.FrontMatter.Published).ToList() : blazorStaticContentService.Posts;
        base.OnInitialized();
    }
}