<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@ViewBag.Title | kijana woodard</title>
        <link rel="author" href="/humans.txt">
        <link rel="icon" type="image/x-icon" href="/favicon.png" />
        
        <link rel="stylesheet" type="text/css" href="/content/css/kube.min.css" /> 	
        <link rel="stylesheet" type="text/css" href="/content/css/kube.responsive.min.css" /> 	
        <link rel="stylesheet" type="text/css" href="/content/css/font-awesome.css" /> 	
        <link rel="stylesheet" type="text/css" href="/content/css/site.css" /> 	
        
        <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->		
        
        @RenderSection("canonical", false)        
    </head>
    <body>
        <div id="wrap">
            <header class="row">
                <hgroup class="half">
                    <h1><a href="/" rel="home">Kijana Woodard</a></h1>
                    <h4 class="subheader">Programming and Perceptual Dissonance</h4>
                </hgroup>
                <form action="http://www.google.com/search" method="GET" class="third search">
                    <input type="hidden" name="q" value="site://kijanawoodard.com" />
                    
                    <span class="surround-icon"><i class="icon-search"></i></span>
                    <input type="text" name="q" placeholder="Search" />
                </form>
            </header>
            <hr/>
            <div class="row">
                <article class="twothird">
                    @RenderBody()
                </article>
                <aside class="quarter push-right">
                    <section>
                        <h4>Contact</h4>
                        <ul id="contact">
                            <li>
                                <a href="http://linkedin.com/in/kijanawoodard" target="_blank">
                                    <i class="icon-linkedin"></i>
                                    <span>LinkedIn</span>
                                    <small>linkedin.com/in/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://github.com/kijanawoodard" target="_blank">
                                    <i class="icon-github"></i>
                                    <span>GitHub</span>
                                    <small>github.com/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/100680108589078267321/" target="_blank">
                                    <i class="icon-google-plus"></i>
                                    <span>Google+</span>
                                    <small>plus.google.com/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/kijanawoodard" target="_blank">
                                    <i class="icon-twitter"></i>
                                    <span>Twitter</span>
                                    <small>twitter.com/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/kijanawoodard" target="_blank">
                                    <i class="icon-facebook"></i>
                                    <span>Facebook</span>
                                    <small>facebook.com/kijanawoodard</small>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Execute", "AtomGet", null, "http")" target="_blank">
                                    <i class="icon-rss"></i>
                                    <span>Atom Feed</span>
                                    <small>kijanawoodard.com/atom</small>
                                </a>
                            </li>
                        </ul>
                    </section>
                    @RenderSection("aside", false)
                </aside>    
            </div>
            <footer>
                <p>&copy; Kijana Woodard</p>
            </footer>
        </div>
    </body>
</html>
