@model Blog.Web.Actions.PostGet.PostGetViewModel
@{
    ViewBag.Title = @Model.Post.Title;
    Layout = "~/Views/_Layout.cshtml";
}
<header>
    <hgroup>
        <h2>@Model.Post.Title</h2>
        <h4 class="subheader">@Model.Post.PublishedAtCst.ToLongDateString()</h4>
    </hgroup>
</header>

<div>
    @Html.Raw(Model.Content)
</div>

@section AsideContent
{
    <section>
        <h4>Latest Posts</h4>
        <ul id="latest">
            @foreach (var post in Model.Latest)
            {
                <li>
                    <a href="@Url.Action("Execute", "PostGet", new {slug = post.Slug})">
                        <i class="icon-bookmark"></i>
                        <span>@post.Title</span>
                        <small>@post.PublishedAtCst.ToShortDateString()</small>
                    </a>
                </li>
            }
        </ul>
    </section>
}