@model Blog.Web.Actions.PostGet.PostGetViewModel
@{
    ViewBag.Title = @Model.Post.Title;
}

@section canonical 
{
    @{ Request.RequestContext.RouteData.Values.Remove("ext"); /*was being magically applied to the routes*/ }
    <link rel="canonical" href="@Url.Action("Execute", "PostGet", new { slug = Model.Post.Slug}, "http")"/>
}

<header>
    <hgroup>
        <h2><a href="@Url.Action("Execute", "PostGet", new {slug = Model.Post.Slug})" title="@Model.Post.Title">@Model.Post.Title</a></h2>
        <h4 class="subheader">@Model.Post.PublishedAtCst.ToLongDateString()</h4>
    </hgroup>
</header>

<div class="text">
    @Html.Raw(Model.Content)
</div>

<hr/>
<footer class="row">
    <div class="half">
        @if (Model.HasPrevious)
        {
            <a href="@Url.Action("Execute", "PostGet", new { slug = Model.Previous.Slug})">
                <div>
                    <i class="icon-arrow-left"></i>
                    <span>@Model.Previous.Title</span>
                </div>
                <small>@Model.Previous.PublishedAtCst.ToLongDateString()</small>
            </a>
        }
    </div>
    
    <div class="half push-right next">
        @if (Model.HasNext)
        {
            <a href="@Url.Action("Execute", "PostGet", new { slug = Model.Next.Slug})">
                <div>
                    <span>@Model.Next.Title</span>
                    <i class="icon-arrow-right"></i>
                </div>
                <small>@Model.Next.PublishedAtCst.ToLongDateString()</small>
            </a>
        }
    </div>
</footer>

@section aside
{
    <section id="latest">
        @{ Html.RenderAction("Index", "PostGet"); }
    </section>
}

<hr/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'kijanawoodard';
    var disqus_identifier = '@Model.Post.Slug';
    var disqus_url = 'http://kijanawoodard.com/' + disqus_identifier;
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
