@model Blog.Web.Actions.PostGet.PostGetViewModel
@{
    ViewBag.Title = @Model.Post.Title;
    Layout = "~/Views/_Layout.cshtml";
}
<header>
    <hgroup>
        <h2>@Model.Post.Title</h2>
        <h4 class="subheader">@Model.Post.PublishedAtCst.ToLongDateString()</h4>
    </hgroup>
</header>

<div>
    @Html.Raw(Model.Content)
</div>

<footer class="row">
    <div class="half">
        @if (Model.HasPrevious)
        {
            <a href="@Url.Action("Execute", "PostGet", new { slug = Model.Previous.Slug})">
                <div>
                    <i class="icon-arrow-left"></i>
                    <span>@Model.Previous.Title</span>
                </div>
                <small>@Model.Previous.PublishedAtCst.ToLongDateString()</small>
            </a>
        }
    </div>
    
    <div class="half push-right next">
        @if (Model.HasNext)
        {
            <a href="@Url.Action("Execute", "PostGet", new { slug = Model.Next.Slug})">
                <div>
                    <span>@Model.Next.Title</span>
                    <i class="icon-arrow-right"></i>
                </div>
                <small>@Model.Next.PublishedAtCst.ToLongDateString()</small>
            </a>
        }
    </div>
</footer>

@section AsideContent
{
    <section>
        <h4>@Model.PostCount Posts</h4>
        <ul id="latest">
            @foreach (var post in Model.Latest)
            {
                <li>
                    <a href="@Url.Action("Execute", "PostGet", new {slug = post.Slug})">
                        <i class="icon-bookmark"></i>
                        <span>@post.Title</span>
                        <small>@post.PublishedAtCst.ToShortDateString()</small>
                    </a>
                </li>
            }
        </ul>
    </section>
}

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'kijanawoodard';
    var disqus_identifier = '@Model.Post.Slug';
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
