@model Blog.Web.Actions.PostGet.PostIndexViewModel

@{
    ViewBag.Title = "All Posts";
    var slug = Request.Url.LocalPath.Substring(1);
    var onHomePage = string.IsNullOrWhiteSpace(slug);
}

<h2>Archive</h2>

<section id="archive">
    <h4>@Model.Active.Count posts @(Model.FuturePostCount > 0 ? Model.FuturePostCount + " future" : "")</h4>
    <ul>
        @foreach (var post in Model.Active)
        {
            <li class="@(post.Slug == slug || onHomePage && post == Model.Active.First() ? "active" : "")">
                <small>@post.PublishedAtCst.ToString("yyyy.MMM.dd")</small>
                <a href="@Url.Action("Execute", "PostGet", new {slug = post.Slug})" title="@post.Title">
                    <span>@post.Title</span>
                </a>
            </li>
        }
    </ul>
</section>