@model Blog.Web.Actions.PostGet.PostIndexViewModel
<?xml version="1.0" encoding="utf-8"?>
<feed xml:lang="en-us" xmlns="http://www.w3.org/2005/Atom">
    <title>Kijana Woodard</title>
    <subtitle>Software Minimalism</subtitle>
    <link href="http://kijanawoodard.com/"/>
    <rights type="text">Copyright @DateTime.UtcNow.Year</rights>
    <updated>@Model.Active.First().PublishedAtCst.ToUniversalTime().ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")</updated>
    <author>
            <name>Kijana Woodard</name>
            <email>atom@kijanawoodard.com</email>
    </author>
    <id>http://kijanawoodard.com/</id>
@foreach (var post in Model.Active)
{
    <entry>
        <title>@post.Title</title>
        <link href="@Url.RouteUrl("canonical-slug", new { slug = post.Slug }, "http")"/>
        <id>@Url.RouteUrl("canonical-slug", new { slug = post.Slug }, "http")</id>
        <updated>@post.PublishedAtCst.ToUniversalTime().ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")</updated>
        <summary type="html">@Html.Raw(post.Summary) <br/><br/><a href="@Url.RouteUrl("canonical-slug", new { slug = post.Slug }, "http")">Continue Reading...</a></summary>
        <content type="html">@Html.Raw(post.Content)</content>
    </entry>
}
</feed>